@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proximanova-light-webfont.eot');
    src: url('/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/proximanova-light-webfont.woff') format('woff'),
        url('/fonts/proximanova-light-webfont.ttf') format('truetype'),
        url('/fonts/proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

body
{
    background: url(/images/bg.png); 
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 16px;
}

header
{
    width: 100%;
    background:url(/images/banner.png) repeat-x #3F5576;
    height: 76px;
    line-height: 60px;
}

header .logo
{
    color: #FFFFFF;
    margin-top: 5px;
    position: relative;
    padding-right: 10px;
}
header .logo img
{
    width: 50px;
    height: 50px;
    margin-top: -10px;
}
header .logo:after
{
    content: "Uduak Daniel";
    font-size: 30px;
    text-transform: uppercase;
    font-family: Ubuntu;
}
.navbar
{
	border-radius: 0;
    background:url(/images/navBg.png) repeat-x #263751;
    border: 0;
    height: 60px;
    line-height: 60px;
}

.navbar .container 
{
    background-image:url(/images/navBar.png);
    background-repeat:repeat-x;
    height:55px;
    border-left:#44536A solid 1px;
    border-right:#44536A solid 1px;
    margin-top:5px;
    
}

.nav.navbar-nav li a
{
    color:#FFFFFF;
}

.nav.navbar-nav li
{
    width: auto;
}

.container.welcome {
    font-size: 18px;
    background-color: #FFFFFF;
    height: 300px;
    text-align: center;
}
.container.welcome div {
   
    border-bottom: solid 1px #CCCCCC;
    padding: 20px 30px 60px 30px;
}

/*Home*/

.container.home
{
    background-color: #FFFFFF;
    height: auto;
    margin-top: -20px;
    padding: 0;
}

.carousel,#carousel-example-generic
{
    height: 400px;
    overflow: hidden;
}
.carousel-inner,.carousel-inner .item
{
    overflow: hidden;
}

.holder
{
    background-color: #FFFFFF;
    height: 300px;
}
.holder .col-md-4
{
    padding: 0;
    margin: 0;
    text-align: justify;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 0 5px 0 5px;
    height: 400px;
    background-color: #FFFFFF;
}
.holder .col-md-4 h4
{
    color: #FFFFFF;
    display: block;
    width: 150px;
    background-color: #FF4400;
    padding: 5px;
    margin: 0;
}

.holder .col-md-4 h4.first
{
    margin-left: -5px;
}
.holder .col-md-4 p
{
    font-size: 16px;
    margin-top: 20px;
    padding: 0 5px 0 5px;
}
/*Music Player Widget*/
.glyphicon-play
{
    color: #FFFFFF;
}
.music_player
{
    width: 100%;
    padding-top: 20px;
}
.player_header
{
    line-height:50px;
    background-color: #000000;
    padding: 10px;
    color: #FFFFFF;
}
.player_header .song_title
{
    font-weight: bold;
    width: 120px;
    display: inline-block;
    line-height: 15px;
}

.player_header img
{
    width: 50px;
    height: 50px;
    margin-right:10px;
}
.download
{
    display: inline-block;
    top: 10px;

}
.player_controls
{
    line-height: 40px;
    background-color: #1C1C1C;
    border-bottom: solid 1px #030303; 
    border-top: solid 1px #373737;
}
.player_controls button
{
    border: none;
    background-color: transparent;
    border-right: solid 1px #000000;
    padding: 0 15px 0 15px;
    display: inline-block;
}
.player_seek_holder 
{
    border-left: solid 1px #373737;
    display: inline-block;
    color: #FFFFFF;
    margin-left: -4px;
    padding-left: 5px;
    text-align: right;
    font-size: 10px;
    line-height: 40px;
    width: 260px;
}

.player_seek_holder .seek
{
    height: 6px;
    width: 180px;
    background-color: #464849;
    display: inline-block;
}
.play_list
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.play_list li
{
 
    width: 100%;
    line-height: 30px;
    background-color: #1C1C1C;
    border-bottom: solid 1px #030303; 
    border-top: solid 1px #373737;
    padding-left: 20px;
    font-size: 11px;
    color: #FFFFFF;
    cursor: pointer;
}

/* Facebook Widget */
.facebook-home {
    position: relative;
    background: url(/images/d9stripes.png) repeat-x;
    border: 1px solid #eee;
    height: auto;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    font-size: 16px;
}

.facebook-home h2, .container h2 {
    /*background: url(/images/arrow-red.png) 5px 31px no-repeat;*/
    color: #333;
    font-family: Montserrat, trebuchet, 'trebuchet ms', sans-serif;
    font-size: 2.2em;
    line-height: 1;
    padding: 26px 15px 10px;
    margin: 0 5px;
    font-weight: normal;
    border-bottom: solid 1px #CCCCCC;
}
.facebook-home.social a{
    display: inline-block;
    margin-right: 50px;
}

a.youtube{
    color: #F80001;
}

a.twitter{
    color: #5EAADE;
}

a.facebook{
    color: #3C599B;
}

/*Footer*/
.container.footer
{
    padding: 0;
}
footer {
    position: relative;
    border: 1px solid #eee;
    height: auto;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    background-color: #FFFFFF;
    padding: 10px;
}

.container.about
{
    background-color: #FFFFFF;
    border: solid 1px #CCCCCC;
    padding: 0;
    border-top: none;
    margin-top: -20px;
}
.container.about h2
{
    margin: 0;
}
.container.about .header
{
    background-color: #F8F5EE;
    margin-bottom: 20px;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #204E8D;
    height: 55px;
    border-left:#44536A solid 1px;
    border-right:#44536A solid 1px;
}

/*About*/
.container.about.special
{
    padding: 0;
}
.col-md-10.about h1
{
    width: 100%;
    display: block;
    background-color: #2271B2;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 8px;
    position: relative;
    margin-right: -100px;
}

.col-md-10.about h1:after
{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #00002B #00002B transparent transparent;
}
.col-md-10.about h1:before
{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #00002B transparent transparent  #00002B  ;
}
.list-unstyled.about li
{
    margin-bottom: 5px;
}

.list-unstyled.about li:hover
{
    border-right: solid 2px #204E8D;
}

.img-thumbnail, .img-responsive
{
    border-radius: 0;
}
ul.list-inline li 
{
    color: #999999;
    margin-bottom: 20px;

}
.list-inline.media img
{
    width: 250px;
    height: auto;
    margin-bottom: 5px;
    cursor: pointer;
}
.list-inline.media span
{
    display: block;
    color: #333333;
}
.modal-body
{
    padding: 5px;
}
.modal-content
{
    width: 533px;
}

/*Meet Uduak - Timeline*/

.timeline-container {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    font-size: 14px;
    height: auto;
}
.timeline-container ul {

    list-style: none;
    height: auto;
}
.timeline-container h2 {

    background: transparent;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
ul.timeline {

    
    margin: 0 auto;
    width: 0px;
    border-left: 1px solid #F00;
    padding: 90px 0px 0px;
}

ul.timeline > li {
    position: relative;
    width: 455px;
}

ul.timeline > li:nth-child(even):before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    
    background-color: #989898;
    border: solid 7px #273854;
    content: " ";
    display: block;
    height: 10px;
    left: -8px;
    line-height: 10px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 10px;
}

ul.timeline > li:nth-child(odd):after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    
    background-color: #989898;
    border: solid 7px #273854;
    content: " ";
    display: block;
    height: 10px;
    right: -72px;
    line-height: 10px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 10px;
}


ul.timeline > li:nth-child(odd) {

    left: -520px;
    position: relative;
}

ul.timeline > li div {

    
    background-color: #F8F8F8;
    border: solid 1px #A4A4A4;
    font-weight: 300;
    margin: -30px 40px;
    padding: 30px;
    position: relative;
    width: 375px;

}

ul.timeline > li div h2 {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
}